<% provide(:title, 'Θέματα') %>
<% provide(:sbHeader, 'Θέματα') %>
<% content_for :sbMenu do %>
  <% @panelladikes.each do |panelladike| %>
    <%= link_to panelladike.lesson, panelladike_path(panelladike) %>
  <% end %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Θέματα και απαντήσεις πανελλαδικών εξετάσεων:</h1>   
        </div>
        <div class="news">
          <% @panelladikes.order(created_at: :desc).each do |panelladike| %>
            <div class="item">
              <%= sanitize panelladike.body%>
              <br>
              <%if model_signed_in?%>
                <div class="row">
                <%= link_to 'Show', panelladike %>
                <%= link_to 'Edit', edit_panelladike_path(panelladike) %>
                <%= link_to 'Destroy', panelladike, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'New Panelladike', new_panelladike_path %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->

</section>
<%if model_signed_in?%>
<%= link_to 'New Xeimwna', new_panelladike_path %>
<% end %>
