<% provide(:title, 'Τεχνολογικών και Θετικών σπουδών') %>
<% provide(:sbHeader, 'Προσανατολισμοί') %>
<% content_for :sbMenu do %>
  <%= link_to 'Οικονομικών και Πληροφορικής', '#' %>
  <%= link_to 'Ανθρωπιστικών και Κοινωνικών σπουδών ', '#' %>
  <%= link_to 'Σπουδών ζωής και υγείας', '#' %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Παροχές</h1>        
        </div>
        <p>
        </p>
        <p>
        </p>
        <small>
        </small>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
