<% provide(:title, 'Πανελλαδικές Εξετάσεις') %>
<% provide(:sbHeader, 'Θέματα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Χημεία', themata_ximeia_path %>
  <%= link_to 'Φυσική',  themata_fusiki_path%>
  <%= link_to 'Μαθημματικά', themata_mathimatika_path%>
  <%= link_to 'Γλώσσα',  themata_glwssa_path%>
  <%= link_to 'Λατινικά',  themata_latinika_path%>
  <%= link_to 'Ιστορία',  themata_istoria_path%>
  <%= link_to 'Βιολογία',  themata_biologia_path%>
  <%= link_to 'Α.Ο.Θ',  themata_aoth_path%>
  <%= link_to 'Αρχαία', themata_arxaia_path%>
  <%= link_to 'ΑΕΠΠ',  themata_aep_path%>
<% end %>
<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Θέματα και απαντήσεις πανελλαδικών εξετάσεων:</h1>
        </div>
        <p class="lead">
        </p>
        <p>
        Θέματα και απαντήσεις Α.Ο.Θ
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Έτος</th>
              <th>Θέματα</th>
              <th>Απαντήσεις</th>
            </tr>
            <tr class="warning">
              <td>2016</td>
              <td><%= link_to "Θέματα", asset_path("aoth_themata_kate.pdf"), :class=>"links"%></td> 
              <td><%= link_to "Απαντήσεις", asset_path("aoth_apantiseis_kate.pdf"), :class=>"links"%></td> 
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
