<% provide(:title, "Επικοινωνία") %>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>Τηλέφωνο Επικοινωνίας</h3>
        <p>+30 210 4224 752</p>
        <h3>Διέυθυνση</h3>
        <p>Αγ. Κωνσταντίνου 11, Πειραιάς (Δημοτικό Θέατρο), ΤΚ 18532</p>
        <h3>Email</h3>
        <p>orosimop@otenet.gr</p>
      </div>
      <div class="col-xs-12 cold-md-6">
        <!-- na mpei map --> 
      </div>
    </div>
  </div>
</section>

