<% provide(:title, 'ECDL') %>

<section class="ecdl">
  <div class="container">
    <div class="row">
      <p>Το ΟΡΟΣΗΜΟ ΠΕΙΡΑΙΑ σε συνεργασία με το <%= link_to 'Click Planet', 'http://www.clickplanet.gr' %> παρέχει ένα ανταγωνιστικό πακέτο για όλους τους μαθητές</p>
      <p class="lead">Ενημερωθείτε τώρα!</p>

      <p>Για περισσότερες πληροφορίες σχετικά με το πρόγραμμα ECDL / Πρόγραμμα Πιστοποίησης Γνώσεων και Δεξιοτήτων Πληροφορικής (Equalskills, forkids, Core, Core+, Expert) επικοινωνήστε μαζί μας <%= link_to 'εδώ', '#' %>
    </div>
  </div>
</section>
