<% provide(:title, 'Επιτυχόντες') %>
  <div class="container">
    <div class="page-header">
      <h1>Επιτυχόντες</h1>
    </div>

    <div class="epitixontes">
      <%#= image_tag "epitixontes/#{fetch_images.last}", alt: 'dffds', class: 'img-responsive' %>
      <% fetch_images.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |img| %>
            <div class="col-xs-12 col-md-3 item">
              <%= image_tag "epitixontes/#{img}", alt: 'epitixon-img', class: 'img-responsive' %>
              <% img = img.slice(0...(img.index('.'))) %>  
              <h2><%= img.split(' - ')[0] %></h2>
              <h3><%= img.split(' - ')[1]%></h3>
            </div>
          <% end %>
        </div>  
      <% end %>
    </div>
  </div> <!-- /container -->

