<% provide(:title, 'Το φροντιστήριο') %>
<% provide(:sbHeader, 'Ταυτότητα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Οι καθηγητές', taftotita_path %>
  <%= link_to 'Το φροντιστήριο', frontistirio_path %>
<% end %>

<section class="frontistirio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
         <h2>Το φροντιστήριο</h2>
        </div>
        <p>Εικόνες</p>
      <div class="col-md-3 content">
        <%= image_tag "aithusa1.png", alt: 'aithousa', class: 'img-responsive' %>
      </div>
      <div class="col-md-3 content">
        <%= image_tag "aithusa2.jpg", alt: 'aithousa', class: 'img-responsive' %>
      </div>
      <div class="col-md-3 content">
        <%= image_tag "eisodos1.jpg", alt: 'aithousa', class: 'img-responsive' %>
      </div>
      <div class="col-md-3 content">
        <%= image_tag "aithusa3.jpg", alt: 'aithousa', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
