<!-- Start front img -->
<div class="img-front">
  <%= image_tag 'header.jpg', alt: 'img-front' %>
</div>
<!-- End front img -->

<!-- Start katefthinseis section -->
<section class="sections">
  <div class="container">
    <div class="page-header">
      <h1>Κατευθύνσεις</h1>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-3 item">
        <%=link_to image_tag("kateuthinseis/anthropistikes.jpg", alt: 'random-img', class: 'img-responsive'), anthropistikes_path %>
        <h2><%= link_to 'Ανθρωπιστικές', anthropistikes_path %></h2>
      </div> <!-- /.col item -->

      <div class="col-xs-12 col-md-3 item">
        <%=link_to image_tag('kateuthinseis/texnologika-oikonomias.png', alt: 'random-img', class: 'img-responsive'), oikonomias_pliroforikis_path %>
        <h2><%= link_to 'Πληροφορικής - Οικονομικών', oikonomias_pliroforikis_path%></h2>
      </div> <!-- /.col item -->

      <div class="col-xs-12 col-md-3 item">
        <%=link_to image_tag("kateuthinseis/texnologikwn-thetikwn.png", alt: 'random-img', class: 'img-responsive'), thetikes_path %>
        <h2><%= link_to 'Τεχνολογικών - Θετικών', thetikes_path%></h2>
      </div> <!-- /.col item -->

      <div class="col-xs-12 col-md-3 item">
        <%=link_to image_tag('kateuthinseis/ygeias-zwis.png', alt: 'random-img', class: 'img-responsive'), thetikes_path %>
        <h2><%= link_to 'Υγείας - Ζωής', thetikes_path%></h2>
      </div> <!-- /.col item -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>

<!-- End katefthinseis section -->

<!-- Start epityxontes section -->
<section class="succeeders">
  <div class="container">
    <div class="page-header">
      <h1>Επιτυχόντες</h1>
    </div>

    <div id="carousel" class="owl-carousel epitixontes">
      <% Student.all.each do |img| %>
        <% img.student_attachments.each do |a| %>
        <div class="r-item">
          <%= image_tag a.avatar_url, alt: 'epitixon-img', class: 'img-responsive' %>
          <h2><%= img.first_name%> <%= img.last_name %></h2>
          <h3><%= img.school %></h3>
        </div>
      <%end%>
      <% end %>
    </div>
      <div class="text-center">
        <%= link_to 'Αναλυτικά', epitixontes_path, class: 'btn btn-lg btn-primary btn-more' %>
      </div>  
    </div> <!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- End epityxontes section -->

<!-- Start diafora section -->
<section class="several">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2 inline-item">

        <div class="col-md-8 col-md-offset-2">
          <h2>Οδηγός Σπουδών</h2>
          <p> Όλες οι πληροφορίες για τις κατευθύνσεις και τα μαθήματα βαρύτητας για το κάθε επιστημονικό πεδίο. </p>
          <div class="row">
          <div class="text-center">
          <%= link_to 'Αναλυτικά',anthropistikes_path , class: 'btn btn-primary' %>
          </div>
        </div>
      </div> 
      
        <div class="col-md-8 col-md-offset-2">
          <h2>Μάθετε τα νέα μας</h2>
          <p> Διαβάστε για νέα και ανακοινώσεις αναλυτικά </p>
          <div class="row">
          <div class="text-center">
          <%= link_to 'Αναλυτικά',latests_path , class: 'btn btn-primary' %>
          </div>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <h2>Επικοινωνία </h2>
          <p> Επικοινωνήστε μαζί μας και μάθετε λεπτομέριες για το ορόσημο </p>
          <div class="row">
          <div class="text-center">
          <%= link_to 'Αναλυτικά',latests_path , class: 'btn btn-primary' %>
          </div>
          </div>
        </div>
      </div> <!-- /.col inline-item -->
    </div> <!-- /.row -->
  </div><!-- /.container -->
</section>

<section class="succeeders">
  <div class="container">
    <div class="page-header">
      <h1>ECDL</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 inline-item">
        <div class="col-md-12">
          <p> Το ΟΡΟΣΗΜΟ ΠΕΙΡΑΙΑ σε συνεργασία με το <%=link_to "Click Planet",'http://www.clickplanet.gr/'%> παρέχει ένα ανταγωνιστικό πακέτο για όλους</p>
        </div>
        </div>
      </div>
    <div class="row">
      <div class="text-center">
        <%= link_to 'Αναλυτικά', ecdl_path , class: 'btn btn-lg btn-primary btn-more' %>
      </div>  
    </div> <!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- End diafora section -->


<script type="text/javascript">
  $(document).ready(function(){
   $("#carousel").owlCarousel({   
      navigation: true,
      navigationText: [
        "<i class='fa fa-chevron-left'></i>",
        "<i class='fa fa-chevron-right'></i>"
        ],
      autoPlay: 4000,
      items: 4,
      pagination: false,
      responsive: true
    });


  });
</script>
