<% provide(:title, 'Πρόγραμμα') %>
<% provide(:sbHeader, 'Πρόγραμματα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Καλοκαίρι', programma_kalokairi_path %>
  <%= link_to 'Χειμώνας', programma_xeimwnas_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Τα προγράμματα για τα θερινά τμήματα:</h1>
        </div>
        <p class="lead">
        </p>
        <p>
        <h4 style="color:#FF4C00;">       Β Λυκείου Ανθρωπιστικών σπουδών </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Αρχαία</td>
              <td>2</td> 
            </tr>
            <tr class="active">
              <td>Λατινικά(για Γ λυκείου)</td>
              <td>2</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Άλγεβρα Γ.Π</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Φυσική Γ.Π</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Τεστ αξιολόγησης</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>13</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">  Β Λυκείου Θετικών Σπουδών </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματικά</td>
              <td>6</td> 
            </tr>
            <tr class="active">
              <td>Φυσική</td>
              <td>4</td>  
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Τεστ αξιολόγησης</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>17</td> 
            </tr>
          </table>
        </div>

        <p>
        <h4 style="color:#FF4C00;">  Γ Λυκείου Σπουδών υγεία και ζωής</h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Φυσική</td>
              <td>6</td> 
            </tr>
            <tr class="active">
              <td>Βιολογία</td>
              <td>3</td>  
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Μαθηματικά Γ.Π(επιλογής)</td>
              <td>6</td> 
            </tr>
            <tr class="info">
              <td>Ιστορία Γ.Π(επιλογής)</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>17-20(-23)</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">   Γ Λυκείου Οικονομίας και Πληροφορικής</h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματικά</td>
              <td>5</td> 
            </tr>
            <tr class="active">
              <td>ΑΕΠΠ</td>
              <td>3</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Α.Ο.Θ</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Βιολογία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ιστορία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>15-17</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;"> Γ Λυκείου Τεχνολογικών και Θετικών σπουδών </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματικά</td>
              <td>4-5</td> 
            </tr>
            <tr class="active">
              <td>Φυσική</td>
              <td>4-5</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Χημεία</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Βιολογία (επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ιστορία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>18-20</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;"> Γ Λυκείου Ανθρωπιστικών και Κοινωνικών σπουδών </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Αρχαία</td>
              <td>6</td> 
            </tr>
            <tr class="active">
              <td>Λατινικά</td>
              <td>4</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ιστορία</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Βιολογία Γ.Π(επιλογής)</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Ιστορία Γ.Π(επιλογής)</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>18-21</td> 
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
