<% provide(:title, 'Πρόγραμμα') %>
<% provide(:sbHeader, 'Πρόγραμμα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Καλοκαίρι', programma_kalokairi_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Προγράμματα</h1>        
        </div>
        <p class="lead">
        </p>
        <p>
        Τα προγράμματα για τα θερινά τμήματα:
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Τάξη</th>
              <th>Κατεύθυνση
              <th>Πρόγραμμα</th>
            </tr>
            <tr class="warning">
              <td>A Λυκείου</td>
              <td></td> 
              <td> <%= link_to "PDF", asset_path("a_lukeiou.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="active">
              <td>B Λυκείου</td>
              <td>Θετικών Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("b_thetikwn_spoudwn.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="active">
              <td>B Λυκείου</td>
              <td>Ανθρωπιστικών Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("b_theoritiki.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Σπουδών Υγείας και Ζωής</td> 
              <td> <%= link_to "PDF", asset_path("ugeias_kai_zwis.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Σπουδών Οικονομίας και Πληροφορικής</td> 
              <td> <%= link_to "PDF", asset_path("oikonomias_kai_pliroforikis.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Τεχνολογικών και Θετικών Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("texnologikwn_kai_thetikwn.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Ανθρωπιστικών, Νομικών και Κοινωνικών  Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("anthropistikwn_kai_koinwnikwn.pdf"), :class=>"links"%></td>
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
