<% provide(:title, 'Ταυτότητα') %>
<% provide(:sbHeader, 'Ταυτότητα') %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Τα νέα μας</h1>   
        </div>
        <p class="lead">
        Τα νέα μας
        </p>
        <p>
        Από 01-17/8/2016 το φροντιστήριο θα παραμείνει κλειστό λόγω διακοπών. Από 18/8 λειτουργούμε κανονικά.
        </p>
        <div class="col-md-4 content">
          <%= image_tag "diakopes.jpg",alt: 'diakopes',class: 'img-responsive' %>
          </div>
        <br/><br/>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
