<% provide(:title, 'Πανελλαδικές Εξετάσεις') %>
<% provide(:sbHeader, 'Θέματα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Χημεία', themata_ximeia_path %>
  <%= link_to 'Φυσική',  themata_ximeia_path%>
  <%= link_to 'Μαθημματικά', themata_ximeia_path%>
  <%= link_to 'Γλώσσα',  themata_ximeia_path%>
  <%= link_to 'Λατινικά',  themata_ximeia_path%>
  <%= link_to 'Ιστορία',  themata_ximeia_path%>
  <%= link_to 'Βιολογία',  themata_ximeia_path%>
  <%= link_to 'Α.Ο.Θ',  themata_ximeia_path%>
  <%= link_to 'Αρχαία', themata_ximeia_path%>
  <%= link_to 'ΑΕΠΠ',  themata_ximeia_path%>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FF7400">Πρόγραμμα Σπουδών για να αριστεύσεις</h1>        
        </div>
        <p class="lead">
        </p>
        <p>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="active">
              <td>B Λυκείου</td>
              <td>Θετικών Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("b_lukeiou_thetikwn.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="active">
              <td>B Λυκείου</td>
              <td>Ανθρωπιστικών Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("b_lukeiou_anthropistikwn.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Σπουδών Υγείας και Ζωής</td> 
              <td> <%= link_to "PDF", asset_path("ugeias_kai_zwis.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Σπουδών Οικονομίας και Πληροφορικής</td> 
              <td> <%= link_to "PDF", asset_path("oikonomias_kai_pliroforikis.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Τεχνολογικών και Θετικών Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("texnologikwn_kai_thetikwn.pdf"), :class=>"links"%></td>
            </tr>
            <tr class="info">
              <td>Γ Λυκείου</td>
              <td>Ανθρωπιστικών, Νομικών και Κοινωνικών  Σπουδών</td> 
              <td> <%= link_to "PDF", asset_path("anthropistikwn_kai_koinwnikwn.pdf"), :class=>"links"%></td>
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
