<% provide(:title, 'Πρόγραμμα') %>
<% provide(:sbHeader, 'Πρόγραμμα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Γυμνάσιο', '#' %>
  <%= link_to 'Λύκειο', programma_lukeiou_path %>
  <%= link_to 'Επαλ', '#' %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Παροχές</h1>        
        </div>
        <p>
          Νέες τεχνολογίες - Technotime - Ψηφιακή Μολυβοθήκη
          Δωρεάν Εγγραφή
          Πλήρη σειρά βιβλίων "Σύστημα Παιδείας Ορόσημο"
          Ολοκληρωμένο πρόγραμμα επαγγελματικού προσανατολισμού
          Εξατομικευμένη εκπαιδευτική υποστήριξη μέσω των προγραμμάτων "Ορόσημο CONSULTATION COLLEGE"
        </p>
        <p>
          Με το ίδιο πρόγραμμα δουλειάς που μας καθιέρωσε 37 ΧΡΟΝΙΑ ΕΠΙΤΥΧΙΩΝ
        </p>
        <small>
          ΜΕ ΤΑ ΚΑΛΥΤΕΡΑ ΒΙΒΛΙΑ ΚΑΙ ΤΟΥΣ ΚΑΛΥΤΕΡΟΥΣ ΣΥΓΓΡΑΦΕΙΣ ΚΑΘΗΓΗΤΕΣ
        </small>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
