<% provide(:title, 'Ταυτότητα') %>
<% provide(:sbHeader, 'Ταυτότητα') %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#A83B00">Προσφορά</h1>        
        </div>
        <p class="lead">
          Επικοινωνήστε μαζί μας:
        </p>
        <p>
        Βρείτε μας στο τηλέφωνο <h4 style="color: #FFA06D">210-4224752</h4> ή στείλτε μας email στο <h4 style="color: #FFA06D">orosimop@otenet.gr</h4>, για να ενημερωθείτε για τις προσφορές μας.
        </p>
        <br/><br/>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
