<% provide(:title, 'Ταυτότητα') %>
<% provide(:sbHeader, 'Ταυτότητα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Οι Καθηγητές', taftotita_path %>
  <%= link_to 'Το φροντιστήριο', frontistirio_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Καθηγητές</h1>        
        </div>
        <p class="lead">
        </p>
        <p>
        Είμαστε τα πρώτα φροντιστήρια αποκλειστικά για σχολές με μεγάλο συναγωνισμό. Λειτουργούμε πάνω από 40 χρόνια με επιτυχίες στις πιο δύσκολες σχολές των Α.Ε.Ι, γιατί μας ενδιαφέρει η ποιότητα. Στο διάστημα αυτό εκπαιδεύουμε περισσότερους από 35.000 μαθητές. Κάθε χρόνο πετυχαίνουμε ένα ποσοστό(ανάλογα με τη σχολή) 85-98% των μαθητών μας να γίνονται φοιτητές. Το ποσοστό αυτό είναι αποτέλεσμα μεθοδικής δουλειάς, που βασίζεται σε ένα μελετημένο πρόγραμμα διδασκαλίας. Φιλοδοξούμε στην οργάνωση του ορθού τρόπου σκέψης και στη μεθόδευση του τρόπου μελέτης των σπουδαστών μας, που θα τους βοηθήσει στη μελλοντική επιστημονική σταδιοδρομία τους.
        </p>
        <br/><br/>
        <h3>Διεύθυνση</h3>
        <p class="lead">Χημείας - Βιολογίας: ΔΕΜΕΝΑΓΑΣ ΠΟΛΥΧΡΟΝΗΣ</p>
        <p class="lead">Φυσικής: ΛΑΜΠΡΟΠΟΥΛΟΣ ΓΕΩΡΓΙΟΣ</p>
        <p class="lead">Νέων Ελληνικών: ΜΟΥΣΟΥΛΗΣ ΓΙΑΝΝΗΣ</p>
        <p class="lead">Αρχαίων - Λατινικών: ΣΑΡΜΠΑΝΗ ΕΙΡΗΝΗ</p>
        <p class="lead">Μαθηματικών: ΣΩΤΗΡΟΠΟΥΛΟΥ ΔΕΣΠΟΙΝΑ</p>
        <br/>
        <h3>Διεύθυνση Σπουδών</h3>
        <p class="lead">ΠΑΓΚΑΛΗΣ ΔΗΜΗΤΡΗΣ</p>
        <br/>
        <h3>Ιδρυτής</h3>
        <p class="lead">ΖΥΡΜΠΑΣ ΑΝΔΡΕΑΣ</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
