<% provide(:title, 'Θετικών') %>
<% provide(:sbHeader, 'Πληροφορίες') %>
<% content_for :sbMenu do %>
  <%= link_to 'Ανθρωπιστικών', anthropistikes_path %>
  <%= link_to 'Οικονομίας και Πληροφορικής', oikonomias_pliroforikis_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1> Αναλυτικά για την κατεύθυνση</h1>
        </div>
        <p class="lead">
        </p>
        <p>
        Πρόγραμμα σπουδών: Θετικών επιστημών / Υγείας και ζωής
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Φυσική</td>
              <td>4-5</td> 
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>3</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Βιολογία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Μαθηματίκα Γ.Π(επιλογής)</td>
              <td>4-5</td> 
            </tr>
            <tr class="info">
              <td>Ή Ιστορία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>15-17(-20)</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FFA72D"> Υπολογισμός μορίων και βαρύτητας μαθημάτων:</h4>
        </p>
        <div class="row">
        <div class="col-xs-12 col-md-6 content">
          <table class="table">
            <tr class="warning">
              <td><strong>2o Επιστημονικό πεδίο</strong></td>
            </tr>
            <tr class="active">
              <td>Μάθημα</td>
              <td>Βαρύτητα/Συντελεστής</td>
              <td>Μόρια</td>
            </tr>
            <tr class="active">
              <td>Μαθματικά</td>
              <td>3,3</td>
              <td>6600</td>
            </tr>
            <tr class="active">
              <td>Φυσική</td>
              <td>2,7</td>
              <td>5400</td>
            </tr>
            <tr class="active">
              <td>Νεοελληνική Γλώσσα</td>
              <td>2,0</td>
              <td>4000</td>
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>2,0</td>
              <td>4000</td>
            </tr>
          </table>
          </div>
          <div class="col-md-6">
          <table class="table">
            <tr class="warning">
              <td><strong>4o Επιστημονικό πεδίο</strong></td>
            </tr>
            <tr class="active">
              <td>Μάθημα</td>
              <td>Βαρύτητα/Συντελεστής</td>
              <td>Μόρια</td>
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>2,0</td>
              <td>4000</td>
            </tr>
            <tr class="active">
              <td>Φυσική</td>
              <td>2,0</td>
              <td>4000</td>
            </tr>
            <tr class="active">
              <td>Νεοελληνική Γλώσσα</td>
              <td>3,3</td>
              <td>6600</td>
            </tr>
            <tr class="active">
              <td>Ιστορία Γ.Π</td>
              <td>2,7</td>
              <td>5400</td>
            </tr>
          </table>
          </div>
          <div class="col-xs-12 col-md-6">
          <table class="table">
            <tr class="warning">
              <td><strong>3o Επιστημονικό πεδίο</strong></td>
            </tr>
            <tr class="active">
              <td>Μάθημα</td>
              <td>Βαρύτητα/Συντελεστής</td>
              <td>Μόρια</td>
            </tr>
            <tr class="active">
              <td>Βιολογία</td>
              <td>3,3</td>
              <td>6600</td>
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>2,7</td>
              <td>5400</td>
            </tr>
            <tr class="active">
              <td>Νεοελληνική Γλώσσα</td>
              <td>2,0</td>
              <td>4000</td>
            </tr>
            <tr class="active">
              <td>Φυσική</td>
              <td>2,0</td>
              <td>4000</td>
            </tr>
          </table>
          </div>
        </div><!-- row -->
      </div> <!-- container -->
    </section>
