<% provide(:title, 'Πρόγραμμα') %>
<% provide(:sbHeader, 'Πρόγραμματα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Καλοκαίρι', programma_kalokairi_path %>
  <%= link_to 'Χειμώνας', programma_xeimwnas_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>

      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1>Τα προγράμματα για τα χειμερινά τμήματα:</h1>
        </div>
        <p class="lead">
        </p>
        <p>
         <h4 style="color:#FF4C00;"> Α Λυκείου </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="info">
              <td>Άλγεβρα</td>
              <td>2</td> 
            </tr>
            <tr class="active">
              <td>Γεωμετρία</td>
              <td>2</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Φυσική</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Χημεία</td>
              <td>2</td> 
            </tr>
            <tr class="warning">
              <td>Αρχαία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>14</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;"> Β Λυκείου Θετικών Σπουδών</h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματικά</td>
              <td>2</td> 
            </tr>
            <tr class="active">
              <td>Φυσική-ΚΑΤ</td>
              <td>2</td>  
            </tr>
            <tr class="info">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="active">
              <td>Χημεία Γ.Π </td>
              <td>1</td> 
            </tr>
            <tr class="active">
              <td>Φυσική Γ.Π </td>
              <td>1</td> 
            </tr>
            <tr class="active">
              <td>Άλγεβρα</td>
              <td>2</td> 
            </tr>
            <tr class="active">
              <td>Γεωμετρία</td>
              <td>2</td> 
            </tr>
            <tr class="active">
              <td>Βιολογία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>14</td> 
            </tr>
          </table>
        </div>

        <p>
        <h4 style="color:#FF4C00;">  B Λυκείου Ανθρωπιστικών Σπουδών </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Αρχαία</td>
              <td>4</td> 
            </tr>
            <tr class="active">
              <td>Λατινικά(για Γ λυκείου)</td>
              <td>2</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Άλγεβρα</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Γεωμετρία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Φυσική Γ.Π</td>
              <td>1</td> 
            </tr>
            <tr class="info">
              <td>Χημεία Γ.Π</td>
              <td>1</td> 
            </tr>
            <tr class="active">
              <td>Ιστορία</td>
              <td></td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>18</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">  Γ Λυκείου Ανθρωπιστικών και Κοινωνικών σπουδών</h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Αρχαία</td>
              <td>5</td> 
            </tr>
            <tr class="active">
              <td>Λατινικά</td>
              <td>3</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ιστορία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Βιολογία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Μαθηματικά Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>17-19</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">  Γ Λυκείου Τεχνολογικών και Θετικών σπουδών </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματικά</td>
              <td>5</td> 
            </tr>
            <tr class="active">
              <td>Φυσική</td>
              <td>5</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Χημεία</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td>Ή Βιολογία Γ.Π (επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Ιστορία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>19</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">  Γ Λυκείου Οικονομίας και ΠΛηροφορικής </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματκά</td>
              <td>6</td> 
            </tr>
            <tr class="active">
              <td>ΑΕΠΠ</td>
              <td>3</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Α.Ο.Θ.</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Βιολογία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Ιστορία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>17</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">  Γ Λυκείου Σπουδών Υγείας και Ζωής </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Φυσική</td>
              <td>5</td> 
            </tr>
            <tr class="active">
              <td>Χημεία</td>
              <td>3</td>  
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Βιολογία</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ή Μαθηματίκα(επιλογής)</td>
              <td>4-5</td> 
            </tr>
            <tr class="info">
              <td>Ή Ιστορία Γ.Π(επιλογής)</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>15-17</td> 
            </tr>
          </table>
        </div>
        <p>
        <h4 style="color:#FF4C00;">  ΕΠΑΛ </h4>
        </p>
        <div class="table-responsive">
          <table class="table">
            <tr class="warning">
              <th>Μάθημα</th>
              <th>Ώρες</th>
            </tr>
            <tr class="warning">
              <td>Μαθηματικά</td>
              <td>4</td> 
            </tr>
            <tr class="active">
              <td>Έκθεση</td>
              <td>2</td>  
            </tr>
            <tr class="active">
              <td>Ειδικότητα 1 </td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Ειδικότητα 2</td>
              <td>2</td> 
            </tr>
            <tr class="info">
              <td>Διαγώνισμα</td>
              <td>3</td> 
            </tr>
            <tr class="info">
              <td><strong>Σύνολο</strong></td>
              <td>13</td> 
            </tr>
          </table>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
