<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>


      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Τα νέα μας</h1>   
        </div>
        <div class="news">
          <%= will_paginate @latests%>
          <% @latests.order(created_at: :desc).each do |latest| %>
            <div class="item">
              <%= sanitize latest.body%>
              <br>
              <%if model_signed_in?%>
                <div class="row">
                <%= link_to 'Show', latest %>
                <%= link_to 'Edit', edit_latest_path(latest) %>
                <%= link_to 'Destroy', latest, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->

<%if model_signed_in?%>
  <%= link_to 'New Latest', new_latest_path %>
<% end %>
</section>
