<%= form_for(@student_attachment) do |f| %>
  <% if @student_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_attachment.errors.count, "error") %> prohibited this student_attachment from being saved:</h2>

      <ul>
      <% @student_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
