<p id="notice"><%= notice %></p>

<h1>Listing Student Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_attachments.each do |student_attachment| %>
      <tr>
        <td><%= student_attachment.student_id %></td>
        <td><%= student_attachment.avatar %></td>
        <td><%= link_to 'Show', student_attachment %></td>
        <td><%= link_to 'Edit', edit_student_attachment_path(student_attachment) %></td>
        <td><%= link_to 'Destroy', student_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student attachment', new_student_attachment_path %>
