<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_attachment.student_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @student_attachment.avatar %>
</p>

<%= link_to 'Edit', edit_student_attachment_path(@student_attachment) %> |
<%= link_to 'Back', student_attachments_path %>
