<% provide(:title, 'Διαχειριστικό menu') %>
<% provide(:sbHeader, 'Διαχειριστικό menu') %>
<% content_for :sbMenu do %>
  <%= link_to 'Επιτυχόντες', students_path %>
  <%= link_to 'Έξοδος', destroy_model_session_path , :method => :delete %>
    <% end %>

<%= form_for(@student, :html => {:multipart => true}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="identity">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav'%>
      </div>
     <div class="col-xs-12 col-md-9 content">
       <h1>Προσθήκη Μαθητών</h1>
<div id="add-student">
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :school %><br>
    <%= f.text_field :school, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :priority %><br>
    <%= f.text_field :priority, class: 'form-control' %>
  </div>
  
 <%= fields_for :student_attachments do |p| %>
     <div class="field">
       <%= p.label :avatar %><br>
       <%= p.file_field :avatar, :multiple => true %>
     <%end%>
     </div>
  <div class="actions">
    <%= f.submit "Καταχώρηση", class: "btn btn-primary" %>
  </div>
</div>

</div>
</div>
</div>
</section>
<% end %>
