<% provide(:title, 'Ταυτότητα') %>
<% provide(:sbHeader, 'Ταυτότητα') %>
<% content_for :sbMenu do %>
    <%= link_to 'Οι Καθηγητές', taftotita_path %>
    <%= link_to 'Το φροντιστήριο', frontistirio_path %>
<% end %>
<div class="container">
    <div class="page-header">
      <h1>Επιτυχόντες</h1>
    </div>

    <div class="epitixontes">
          <% @students.each_slice(4) do |slice| %>
            <div class="row">
                <% slice.each do |student| %>
                  <div class="col-xs-12 col-md-3 item">
                  <%= image_tag student.student_attachments.first.avatar_url.to_s %>
                  <h2>  <%= sanitize student.first_name %>  <%= sanitize student.last_name %> </h2>
                  <h3>  <%= student.school %> </h3>
                  <h4> <% if model_signed_in? %>
                      <%= link_to 'Edit', edit_student_path(student)%>
                      <%end%>
                  </div>
                <% end %>
            </div>
          <%end%>
        <% if model_signed_in?%>
          <%= link_to 'Προσθήκη', new_student_path %>
          <%= link_to 'logout', destroy_model_session_path, :method=> :delete %>
        <%end%>
    </div>
  </div> <!-- /container -->

