<div class="sortable">
  <% @students.each do |student| %>
    <div class="panel-sortable" data-id="<%= student.id%>">
      <span class="my-handle">::</span>
      <%= student.first_name %>     <%= student.last_name %>
    </div>
  <%end%>
</div>
