<%= form_for(@suggested_post) do |f| %>
  <% if @suggested_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggested_post.errors.count, "error") %> prohibited this suggested_post from being saved:</h2>

      <ul>
      <% @suggested_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="identity">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 sidebar" role="navigaton">
          <%= render 'layouts/sidenav'%>
        </div>
        <div class="col-xs-12 col-md-9 content">
          <h1> Προσθήκη </h1>
          <div class="field">
            <%= f.label :body %><br>
            <%= f.cktext_area :body %>
          </div>
          <div class="field">
            <%= f.label :lesson %><br>
            <%= f.text_field :lesson %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
