<% provide(:title, 'Θέματα') %>
<% provide(:sbHeader, 'Θέματα') %>
<% content_for :sbMenu do %>
    <% @suggested_posts.each do |suggested_post| %>
      <%= link_to suggested_post.lesson, suggested_post_path(suggested_post) %>
  <% end %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidenav" role="navigation">
        <%= render 'layouts/sidenav'%>
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D"> Προτεινόμενα Θέματα </h1>
        </div>
        <div class="news">
          <% @suggested_posts.order(created_at: :desc).each do |suggested_post| %>
            <div class="item">
              <%= sanitize suggested_post.body %>
              <br>
              <% if model_signed_in?%>
                <div class="row">
                  <%= link_to 'Show', suggested_post %>
                  <%= link_to 'Edit', edit_suggested_post_path(suggested_post) %>
                  <%= link_to 'Destroy', suggested_post, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
</section>

<% if model_signed_in?%>
  <%= link_to "New", new_suggested_post_path %>
<%end%>
