<% provide(:title, 'Θέματα')%>
<% provide(:sbHeader, 'Θέματα')%>
<% content_for :sbMenu do %>
  <% @suggested_posts.each do |suggested_post|%>
    <%= link_to suggested_post.lesson, suggested_post_path(suggested_post)%>
  <%end%>
<%end%>

<section class="identty">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidenav" role="navigation">
        <%= render 'layouts/sidenav'%>
      </div>
      <div class="col-xs-12 col-md-9 content" >
        <div class="content-header">
          <h1 style="color:#FFA72D">Προτεινόμενα Θέματα </h1>
        </div>
        <div class="news">
          <div class="item">
            <%= sanitize @suggested_post.body %>
            <br>
            <%if model_signed_in?%>
              <div class="row">
                <%= link_to 'Edit', edit_suggested_post_path(@suggested_post) %> |
                <%= link_to 'Back', suggested_posts_path %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
</section>
<% if model_signed_in?%>
  <%= link_to "New", new_suggested_post_path %>
<%end%>
