<% provide(:title, 'Διαχειριστικό menu') %>
<% provide(:sbHeader, 'Διαχειριστικό menu') %>
<% content_for :sbMenu do %>
  <%= link_to 'Χειμώνας', xeimwnas_path %>
  <%= link_to 'Έξοδος', destroy_model_session_path , :method => :delete %>
    <% end %>

<%= form_for(@xeimwna) do |f| %>
  <% if @xeimwna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xeimwna.errors.count, "error") %> prohibited this latest from being saved:</h2>

      <ul>
      <% @xeimwna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav'%>
      </div>
     <div class="col-xs-12 col-md-9 content">
       <h1>Προσθήκη</h1>
<div id="add-student">
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, ckeditor: { language: 'us'}%>
  </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
</div>
</div>
</section>
<% end %>
