<% provide(:title, 'Πρόγραμμα') %>
<% provide(:sbHeader, 'Πρόγραμματα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Καλοκαίρι', kalokairis_path %>
  <%= link_to 'Χειμώνας', xeimwnas_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Τα προγράμματα για τα χειμερινά τμήματα:</h1>   
        </div>
        <div class="news">
          <%#= will_paginate @xeimwnas%>
          <% @xeimwnas.order(created_at: :desc).each do |xeimwna| %>
            <div class="item">
              <%= sanitize xeimwna.body%>
              <br>
              <%if model_signed_in?%>
                <div class="row">
                <%= link_to 'Show', xeimwna %>
                <%= link_to 'Edit', edit_xeimwna_path(xeimwna) %>
                <%= link_to 'Destroy', xeimwna, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->

</section>
<%if model_signed_in?%>
<%= link_to 'New Xeimwna', new_xeimwna_path %>
<% end %>
