<% provide(:title, 'Διαχειριστικό menu') %>
<% provide(:sbHeader, 'Διαχειριστικό menu') %>

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav'%>
      </div>
     <div class="col-xs-12 col-md-9 content">
       <h1>Προσθήκη</h1>
       <div id="add-student">
         <div class="form-group">
           <%= f.label :course_name %>
           <%=f.text_field :course_name %>
         </div>
       </div>
       <div id="add-student">
         <div class="form-group">
           <%= f.label :title %>
           <%=f.text_field :title %>
         </div>
       </div>
      <div id="add-student">
        <div class="form-group">
          <%= f.label :body %><br>
          <%= f.cktext_area :body, ckeditor: { language: 'us'}%>
        </div>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
</div>
</div>
</section>
  <% end %>



