<% provide(:title, 'Programs') %>
<% provide(:sbHeader,'programas') %>
<% content_for :sbMenu do %>
  <%= link_to 'course1'%>
<%end%>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>

      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D"> Programa spoudwn</h1>
        </div>
<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if model_signed_in? %>
  <%= link_to 'New Course', new_course_path  %>
<%end%>
    </div>
</section>
