<% provide(:title, 'Οικονομίας και Πληροφορικής') %>
<% provide(:sbHeader, 'Πληροφορίες') %>
<% Course.all.each do |course| %>
  <% content_for :sbMenu do %>
    <%= link_to course.title, course_path(course) %>
  <% end %>
<%end%>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Αναλυτικά για την κατεύθυνση</h1>   
        </div>
        <div class="news">
          <div class="item">
            <%= sanitize @course.body %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
