<%= form_for(@panelladike2017) do |f| %>
  <% if @panelladike2017.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panelladike2017.errors.count, "error") %> prohibited this panelladike2017 from being saved:</h2>

      <ul>
      <% @panelladike2017.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="identity">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 sidebar" role="navigation">
          <%= render 'layouts/sidenav'%>
        </div>
        <div class="col-xs-12 col-md-9 content">
          <h1> Προσθήκη </h1>
          <div id= "add-student">
            <div class="form-group">
              <%= f.label :body %><br>
              <%= f.cktext_area :body %>
            </div>
            <br>
            <div class="form-group">
              <%= f.label :lesson %><br>
              <%= f.text_field :lesson, class: "form-group" %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<% end %>
