<% provide(:title, 'Θέματα') %>
<% provide(:sbHeader, 'Θέματα') %>
<% content_for :sbMenu do %>
  <% @panelladike2017s.each do |panelladike2017| %>
    <%= link_to panelladike2017.lesson, panelladike2017_path(panelladike2017) %>
  <% end %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav'%>
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Πανελλαδικές 2018</h1>
        </div>
        <div class="news">
          <% @panelladike2017s.each do |panelladike2017| %>
            <div class="items">
              <%= sanitize panelladike2017.body %>
              <br>
              <%if model_signed_in?%>
                <div class"row">
                  <%= link_to 'New', new_panelladike2017_path %>
                  <%= link_to 'Show', panelladike2017 %>
                  <%= link_to 'Edit', edit_panelladike2017_path(panelladike2017) %>
                  <%= link_to 'Destroy', panelladike2017, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section>


                  <%= link_to 'New', new_panelladike2017_path %>
