@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic&subset=latin,greek);

$white: #fff;
$or-blue: #056cb5;
$or-dblue: #053C5E;
$or-yellow: #f5df85;
$or-gray: #f6f7f7;
$or-dgray: #4a4a4c;

/* Mixins */

@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}




/* General */

ul > li,
ol > li{
  list-style-type: none;
}

ul{
  padding-left: 0px;
}

.navbar{
  margin-bottom: 0;
  border: 0px;
  min-height: 0;
}

form input{
  border-radius: 0px !important;
  border: 1px solid $white;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
}


.sidebar-header,
.content-header{
  border-bottom: 1px solid $or-yellow;
}

.sidebar-header > h3{
  margin-top: 32px; /*TODO na dw an paizei se oles tis analyseis to idio */
  margin-bottom: 10px;
}

.page-header{
  padding-top: 0px;
}

.btn{
  border: 0;
  border-radius: 1px;
}


.inline-item{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Override colors */
a{
  color: $or-blue;
}


/* Typography */
html,body{
  font-family: 'Ubuntu', sans-serif;
}


.page-header{
  border-bottom: none;
  text-align: center;
}

h1{
  font-weight: bold;
  letter-spacing: 2px;
}

h3{
  color: $or-blue;
  margin-top: 10px;
  margin-bottom: 20px;
}

.item > h2{
  font-size: 20px;
}

/* Navbars */
.navbar-nav > img{
  display: inline-block !important;
}

.navbar-white{
  background-color: $white;
}

.navbar-yellow{
 background-color: $or-yellow; 
}

.navbar-brand{
  padding: 0px;
}

.navbar-brand > img{
  height: inherit;
}


#login-btn{
  background-color: $or-blue;
  color: $white ;
}

#nav-top .nav > li > a:hover, 
#nav-top .nav > li > a:focus,
#nav-top .nav > li > a:active{
  background-color: $or-blue;
  color: $white;
}

.nav-flat > li{
  float: left;
}

/* TODO DELETE?
.nav-flat > li > a:hover::after,
.nav-flat > li > a:focus::after,
.nav-flat > li > a:active::after{
  content: "";
  display: block;
  border: 10px solid transparent;
  border-bottom-color: $or-blue;
  position: absolute;
  bottom: 0px;
  left: 20%;
  margin-left: -12px;
}
*/


@media (min-width: 768px){
  #nav-secondary ul{
    margin-left: 8%;
  }

  #nav-secondary ul > li{
    margin-left: 30px;
    margin-right: 30px;
  }

  .nav-flat > li{
    line-height: 2em;
  }

  .menu-tel{
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 2em;
    color: $or-blue;
  }

  .menu-tel:hover{
    color: $or-dblue;
  }
}

#nav-secondary .dropdown-menu::before {
  border-bottom: 9px solid rgba(0, 0, 0, 0.2);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 5%;
  position: absolute;
  top: -8px;
}

#nav-secondary .dropdown-menu::after {
  border-bottom: 8px solid $or-blue;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 5%;
  position: absolute;
  top: -7px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background: transparent;
  border-color: transparent;
}

#nav-secondary .nav > li > a:hover,
#nav-secondary .nav > li > a:focus,
#nav-secondary .nav > li > a:active{
  background-color: transparent;
}


@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

#nav-secondary .dropdown-menu{
  margin-top: -1px;
  border-radius: 0px;
  background-color: $or-blue;
}

#nav-secondary .dropdown-menu > li > a{
  color: $white;
}


#nav-secondary .dropdown-menu > li > a:hover,
#nav-secondary .dropdown-menu > li > a:active,
#nav-secondary .dropdown-menu > li > a:focus{
  background-color: transparent;
  color: $or-yellow;
}


.nav-sidebar > ul > li{
  width: 100%;
}

.nav-sidebar > ul > li > a{
  color: $or-blue;
  @include transition(all,.15s,linear);
}

.nav-sidebar > ul > li > a:hover{
  background-color: $or-blue;
  color: $white;
}




/* Component Specific */

/* TODO find a better workaround for this */
.img-front > img{
  max-height: 300px;
  width: 100%;
}

.item > img,
.item > h2,
.item > p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sections h2,
.sections p{
  color: $or-blue;
}

/*
.sections > .container > .row >.item > img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 6px solid $white;
  box-shadow: 0px 6px 5px 0px rgba(30,30,30,.4);
}
*/

.succeeders{
  background-color: #f5df85;
}

.succeeders > .container > .row > .item > img,
.epitixontes > .row > .item > img,
.r-item > img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
}

.succeeders h3,
.epitixontes h3,{
  text-align: center;
  font-size: small;
}

.succeeders h2{
  text-align: center;
  font-size: 22px;
}

.succeeders .btn-more{
  margin-top: 50px;
}


.newsletter{
  background-color: $or-blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.newsletter h3{
  color: $white;
}

.newsletter form{
  margin-top: 10px;
}

.newsletter .form-control{
  border: 0;
}

.newsletter button{
  position: static;
  background-color: $or-dblue;
  margin-left: -4px;
  padding: 0px 20px;
}

.newsletter .glyphicon-triangle-right{
  color: $white;
}

.footer{
  background-color: $or-gray; 
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer h4{
  color: $or-blue;
  font-weight: bold;
}

.footer ul > li > a{
  color: $or-dgray;
}

.footer ul > li > a:hover,
.footer ul > li > a:focus,
.footer ul > li > a:active{
  color: $or-blue;
  text-decoration: none;
  text-shadow: 0px 0px 1px $white; 
}

.footer-logo{
  text-align: center;
  color: $or-blue;
}

.foot-subheader{
  font-weight: bold;
  font-size: 15px;
}

.foot-header{
  font-weight: bold;
  font-size: 38px;
}

.foot-tel{
  font-weight: bold;
  font-size: 30px;
}

.foot-address{
  font-size: 15px;
}

/* Latests */
.news .item{
  border-bottom: 1px solid rgba(200,200,200,.7);
  overflow: hidden;
  padding-bottom: 20px;
}

/* Owl Carousel specific customization */
.owl-theme .owl-controls .owl-buttons div{
  padding: 5px 5px;
}

.owl-theme .owl-buttons i{
  margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div{
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 55px;
}

/* Forms */
#login .form-control{
  width: 300px;
}
