<% provide(:title, 'Πρόγραμμα') %>
<% provide(:sbHeader, 'Πρόγραμματα') %>
<% content_for :sbMenu do %>
  <%= link_to 'Καλοκαίρι', kalokairis_path %>
  <%= link_to 'Χειμώνας', xeimwnas_path %>
<% end %>

<section class="identity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 sidebar" role="navigation">
        <%= render 'layouts/sidenav' %>  
      </div>
      <div class="col-xs-12 col-md-9 content">
        <div class="content-header">
          <h1 style="color:#FFA72D">Τα προγράμματα για τα θερινά τμήματα:</h1>   
        </div>
        <div class="news">
          <% @kalokairis.order(created_at: :desc).each do |kalokairi| %>
            <div class="item">
              <%= sanitize kalokairi.body%>
              <br>
              <%if model_signed_in?%>
                <div class="row">
                <%= link_to 'Show', kalokairi %>
                <%= link_to 'Edit', edit_kalokairi_path(kalokairi) %>
                <%= link_to 'Destroy', kalokairi, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->

<%if model_signed_in?%>
<%= link_to 'New Kalokairi', new_kalokairi_path %>
<% end %>
</section>
