<!-- Start newsletter section -->
<section class="newsletter">
  <div class="container">
      <h3 class="pull-left">Μάθε τα νέα μας!</h3>

      <form class="form-inline pull-right">
        <input type="email" class="form-control" placeholder="Εγγραφή στο newsletter">
        <button type="submit" class="glyphicon glyphicon-triangle-right form-control btn"></button>
      </form>
  </div><!-- /.container -->
</section>

<!-- End newsletter section -->


<div class="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-md-3 footer-logo">
        <p>
          <span class="foot-subheader">ΠΙΣΤΟΠΟΙΗΜΕΝΑ ΦΡΟΝΤΙΣΤΗΡΙΑ</span>
          <span class="foot-header">ΟΡΟΣΗΜΟ</span>
        </p>
        <p class="foot-tel">210-4224752</p>
        <p class="foot-address">
          Αγ. Κωνσταντίνου 11, Πειραιάς
          (Δημοτικό Θέατρο)
        </p>
        <p class="foot-address">
          orosimop@otenet.gr
        </p>
        <div class="social-btns"></div>
      </div>

      <div class="col-xs-12 col-md-3">
        <h4>Η ταυτότητά μας</h4>
        <ul>
          <li><%= link_to 'Το Φροντιστήριο', frontistirio_path %></li>
          <li><%= link_to 'Αρχικό site', "http://old.orosimo-peiraia.gr" %></li>
          <li><%= link_to 'Επικοινωνία', contact_path %></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-3">
        <h4>Πρόγραμμα</h4>
        <ul>
          <li><%= link_to 'Πρόγραμμα Σπουδών', '#' %></li>
          <li><%= link_to 'Πανελλαδικές', '#' %></li>
          <li><%= link_to 'Καλοκαίρι', kalokairis_path %></li>
          <li><%= link_to 'ECDL', ecdl_path %></li>
          <li><%= link_to 'Προσφορά', '#' %></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-md-3">
        <h4>Εργαλεία</h4>
        <ul>
          <li><%= link_to 'Τεστ Επαγγελματικού Προσανατολισμού', 'https://www.youtube.com/channel/UCh0fw-LV_5iXczbizb9Jl_g' %></li>
          <li><%= link_to 'Οδηγός Σπουδών', courses_path %></li>
          <li><%= link_to 'Βιβλία', '#' %></li>
          <li><%= link_to 'Εικονικά Πειράματα', '#' %></li>
          <li><%= link_to 'Χρήσιμα Links', '#' %></li>
        </ul>
      </div>


    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103575401-1', 'auto');
    ga('send', 'pageview');

</script>
