<!-- nav-top start -->
<nav id="nav-top" class="navbar navbar-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="menu-top" aria-expanded="false">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', id: 'main-logo'%>
        <%= image_tag 'side-logo.png', id: 'side-logo'%>
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Πανελλαδικές 2018", panelladike2017s_path, style:"color:#FFA72D" %></li>
        <li><%= link_to "Προτεινόμενα θέματα", suggested_posts_path %></li>
        <li><%= link_to "Κοινωνικό Ορόσημο", "http://www.koinoniko.orosimo-peiraia.gr" %></li>
        <li><%= link_to "Οδηγός Σπουδών", oikonomias_pliroforikis_path %></li>
        <li><%= link_to "Προσφορά", prosfora_path %></li>
        <li><%= link_to "Σύνδεση", new_model_session_path, id: 'login-btn' %></li>
      </ul>

    </div>
  </div>
</nav>
<!-- main nav end -->

<!-- secondary menu start -->
<nav id="nav-secondary" class="navbar navbar-yellow">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav nav-flat">
        <li><%= link_to "Η ταυτότητά μας", taftotita_path, role: 'presentation' %></li>
        <li><%= link_to "Τα νέα μας", latests_path, role: 'presentation' %></li>
        <li class="dropdown"><%= link_to raw('Πρόγραμμα Σπουδών'), '#' , {role: 'button', class: 'dropdown-toggle', "data-toggle": 'dropdown', "aria-haspopup": 'true', "aria-expanded": 'false'} %>
          <ul class="dropdown-menu">
            <li><%= link_to "Πανελλαδικές Εξετάσεις", panelladikes_path %></li>
            <li><%= link_to "Καλοκαίρι", kalokairis_path %></li>
            <li><%= link_to "Χειμώνας", xeimwnas_path %></li>
            <li><%= link_to "Προσφορά", prosfora_path %></li>
            <li><%= link_to "Προτεινόμενα Θέματα", suggested_posts_path %></li>
          </ul>
        </li>
        <li><%= link_to "ECDL", ecdl_path , role: 'presentation' %></li>
        <li><%#= link_to "Εργαλεία", '#' , role: 'presentation' %></li>
        <li><%= link_to "Επικοινωνία",contact_path , role: 'presentation' %></li>
        <li class="pull-right"><span class="menu-tel">210-4224752</span></li>
      </ul>
    </div>
  </div>
</nav>
<!-- secondary menu end -->
