<% if content_for? :sbMenu %>
  <nav class="nav-sidebar">
    <div class="sidebar-header">
      <h3><%= yield :sbHeader %></h3>
    </div>  
    <ul class="nav nav-flat nav-stacked">
      <li role="presentation"><%= yield :sbMenu %></li>
    </ul>
  </nav>
<% end %>
